<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    height="50"
    alt="Aerodyne Logo"
    src="assets/logo.webp"
  />
  <span>Developed by Wayne Cheah</span>
  <div class="spacer"></div>
  <a aria-label="Aerodyne on Facebook" class="link" target="_blank" rel="noopener" href="https://www.facebook.com/AerodyneGroup/" title="Facebook">
    <mat-icon>facebook</mat-icon>
  </a>
  <a aria-label="Angular on Instagram" class="link" target="_blank" rel="noopener" href="https://www.instagram.com/aerodyne.group/" title="Instagram">
    <mat-icon color="white">linked_camera</mat-icon>
  </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)" fill=""/>
        <g id="Group_47" data-name="Group 47" transform="translate(165.185 720.185)">
          <path id="Path_33" data-name="Path 33" d="M3.4,42.615a3.084,3.084,0,0,0,3.553,3.553,21.419,21.419,0,0,0,12.215-6.107L9.511,30.4A21.419,21.419,0,0,0,3.4,42.615Z" transform="translate(0.371 3.363)" fill="#fff"/>
          <path id="Path_34" data-name="Path 34" d="M53.3,3.221A3.09,3.09,0,0,0,50.081,0,48.227,48.227,0,0,0,18.322,13.437c-6-1.666-14.991-1.221-18.322,7.218A33.892,33.892,0,0,1,9.439,25.1l-.333.666a3.013,3.013,0,0,0,.555,3.553L23.985,43.641a2.9,2.9,0,0,0,3.553.555l.666-.333A33.892,33.892,0,0,1,32.647,53.3c8.55-3.664,8.884-12.326,7.218-18.322A48.227,48.227,0,0,0,53.3,3.221ZM34.424,9.772a6.439,6.439,0,1,1,9.106,9.106,6.368,6.368,0,0,1-9.106,0A6.467,6.467,0,0,1,34.424,9.772Z" transform="translate(0 0.005)" fill="#fff"/>
        </g>
      </g>
    </svg>

    <span>{{ title }} app is running!</span>

    <svg id="rocket-smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632" viewBox="0 0 516.119 1083.632">
      <title>Rocket Ship Smoke</title>
      <path id="Path_40" data-name="Path 40" d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z" transform="translate(-147.025 -140.939)" fill="#f5f5f5"/>
    </svg>
  </div>

  <!-- Resources -->
  <h2>Part 1: Reactive Web Development</h2>

  <mat-card class="main-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>List of Restaurants</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="restaurant-form">
        <table class="table-cell add-row">
          <tr>
            <td style="padding-left: 10px;">
              <mat-form-field class="restaurant-form-field">
                <mat-label>Restaurant Name</mat-label>
                <input type="text" matInput [formControl]="restaurantFormControl" placeholder="Ex. McDonald's" />
                <button *ngIf="restaurantFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearText(restaurantFormControl)">
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="restaurantFormControl.hasError('required')">
                  Restaurant name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="type-form-field">
                <mat-label>Restaurant Type {{typeFormControl.value}}</mat-label>
                <input type="text" matInput [formControl]="typeFormControl" placeholder="Ex. McDonald's" />
                <button *ngIf="typeFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearText(typeFormControl)">
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="typeFormControl.hasError('required')">
                  Restaurant type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="latitude-form-field">
                <mat-label>Latitude</mat-label>
                <input type="number" matInput [formControl]="latitudeFormControl" />
                <button *ngIf="latitudeFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearText(latitudeFormControl)">
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="latitudeFormControl.hasError('required')">
                  Latitude is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="latitudeFormControl.hasError('precision')">
                  Latitude must have a valid <strong>coordinate</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="longitude-form-field">
                <mat-label>Longitude</mat-label>
                <input type="number" matInput [formControl]="longitudeFormControl" />
                <button *ngIf="longitudeFormControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearText(longitudeFormControl)">
                  <mat-icon>clear</mat-icon>
                </button>
                <mat-error *ngIf="longitudeFormControl.hasError('required')">
                  Longitude is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="longitudeFormControl.hasError('precision')">
                  Longitude must have a valid <strong>coordinate</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td class="buttonColumn">
              <button mat-raised-button color="primary" (click)='addData()' [disabled]="!isFormValid">Save</button>
            </td>
          </tr>
          <tr>
            <td colspan="5" style="padding: 10px;">
              <div *ngIf="!uploader?.queue?.length">
                <div ng2FileDrop class="dropzone"
                  [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                  (fileOver)="fileOverBase($event)"
                  [uploader]="uploader"
                  class="well my-drop-zone"
                >Drop image here to upload</div>
                <input type="file" ng2FileSelect [uploader]="uploader" />
              </div>

              <div *ngIf="uploader?.queue?.length">
                <table class="table-cell uploader">
                  <thead>
                    <tr>
                      <th style="text-align: left;">Name</th>
                      <th>Size</th>
                      <th style="width: 25%;">Progress</th>
                      <th style="text-align: center;">Status</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                          <mat-progress-bar color="warn" mode="determinate" [value]="item.progress"></mat-progress-bar>
                        </div>
                      </td>
                      <td style="text-align: center;">
                        <span *ngIf="item.isSuccess"><mat-icon color="primary">task_alt</mat-icon></span>
                        <span *ngIf="item.isCancel"><mat-icon>highlight_off</mat-icon></span>
                        <span *ngIf="item.isError"><mat-icon color="warn">error</mat-icon></span>
                      </td>
                      <td style="text-align: center;">
                        <button mat-button color="primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                          <mat-icon>cloud_upload</mat-icon> Upload
                        </button>
                        <button mat-button color="accent" (click)="item.cancel()" [disabled]="!item.isUploading">
                          <mat-icon>cancel</mat-icon> Cancel
                        </button>
                        <button mat-button color="warn" (click)="item.remove()">
                          <mat-icon>delete</mat-icon> Remove
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div style="display: none;">
                  <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                  </div>
                  <button mat-flat-button color="primary" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <mat-icon>cloud_upload</mat-icon> Upload all
                  </button>&nbsp;
                  <button mat-flat-button color="accent" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <mat-icon>cancel</mat-icon> Cancel all
                  </button>&nbsp;
                  <button mat-flat-button color="warn" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <mat-icon>delete</mat-icon> Remove all
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </form>

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. kfc" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-cell">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef>{{column}}</th>
          <td mat-cell *matCellDef="let element" (click)="onRestaurant(element, column)">
            <span *ngIf="column!='delete'">{{element[column]}}</span>
            <mat-icon *ngIf="column=='delete'" (click)="onDelete(element)">delete_outline</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="delete2" stickyEnd></ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <p>&nbsp;</p>
      <p>
        Aerodyne have multiple platforms (web-based system and apps) to cater different
        varieties of industries, to cater for their different needs and requirements.
        Basically, what the pilots capture during their mission will be analyzed and visualized via
        the web app.
      </p>
    </mat-card-content>
  </mat-card>

  <div style="height: 25px;"></div>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <google-map #googleMapRef
        width="930"
        (zoomChanged)="zoomChanged()"
      >
        <map-marker *ngFor="let marker of markers"
          [options]="marker"
        ></map-marker>
      </google-map>
    </mat-card-content>
  </mat-card>

</div>
